// Переменные
$primary-color: #625b56;
$secondary-color: #4B4B4B;
$slider-bg: #A29C9A;
$text-color: #4B4B4B;
$white: white;
$accent-1: #FF976A;
$accent-2: #F5D4AC;
$accent-3: #737373;
$shadow: 15px 15px 15px -5px #413C3936;
$font-family: "Nunito", sans-serif;

// Миксины
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin blur-circle($top: auto, $left: auto, $right: auto, $bg-color: white, $opacity: 0.5) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  filter: blur(150px);
  width: 600px;
  height: 600px;
  border-radius: 315px;
  background: $bg-color;
  opacity: $opacity;
  z-index: 0;
}

@mixin badge-position($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin menu-icon-position($left, $top) {
  left: $left;
  top: $top;
}

@mixin slider-text($size: 48px, $color: $text-color, $align: center) {
  text-align: $align;
  color: $color;
  font-weight: 600;
  line-height: 101%;
  letter-spacing: -.01em;
  font-size: $size;
}

// Сброс стилей
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Основные стили
body {
  font-family: $font-family;
  font-optical-sizing: auto;
  font-style: normal;
  min-height: 100vh;
  @include flex-center;
  padding: 20px;
}

// Общие стили для слайдов
.slider {
  position: relative;
  overflow: hidden;
  padding: 50px;
  width: 1240px;
  height: 800px;
  background: $slider-bg;
  border-radius: 70px;
  @include flex-center;
  flex-direction: column;
  flex-shrink: 0;
  opacity: 0;

  &-title {
    @include slider-text(48px, $text-color, center);
    z-index: 1;
  }
}

.img-slaid-1 {
  width: 240px;
  height: 430px;
  border-radius: 35px;
}

.content-slaid-1 {
  position: relative;
  display: flex;
  top: 25px;
  z-index: 1;
}

.text-slaid-1 {
  display: flex;
  font-size: 30px;
  padding: 10px 25px;
  border-radius: 50px;
  @include flex-center;
  box-shadow: $shadow;
  background: $white;
  color: $text-color;
  font-weight: bold;

  &.text-dark {
    background: $secondary-color;
    color: $white;
  }
}

.column-slaid-1 {
  display: flex;
  gap: 20px;
  flex-direction: column;

  &.column-left {
    align-items: flex-start;
  }

  &.column-right {
    align-items: flex-end;
  }
}

.subtitle {
  font-size: 52px;
  margin-top: 30px;
  z-index: 1;
}

.main-image {
  width: 675px;
  z-index: 1;
}

// Стили для размытых кругов
.blur-circle {
  &.blur-center {
    @include blur-circle(-190px, 0, auto, $white, 0.5);
  }

  &.blur-right {
    @include blur-circle(auto, auto, 20px, $accent-1, 0.5);
  }

  &.blur-left {
    @include blur-circle(auto, 20px, auto, $accent-2, 0.5);
  }

  &.blur-slider2 {
    @include blur-circle(-130px, 60px, auto, $accent-2, 0.5);
  }

  &.blur-slider3 {
    @include blur-circle(-130px, 220px, auto, $accent-1, 0.5);
  }
}

// Стили для меню
.menu {
  width: 690px;
  height: 690px;
  border: 10px solid $primary-color;
  border-radius: 50%;
  position: absolute;
  left: -555px;
  top: 130px;
  z-index: 100;

  &-container {
    display: flex;
    width: 706px;
    height: 706px;
    position: relative;
    z-index: 50;
    justify-content: flex-end;
    align-items: center;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }

  &-icon-2 {
    position: absolute;
    background: $primary-color;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    box-shadow: $shadow;

    // Позиции иконок меню
    &.menu-icon-pos1 {
      @include menu-icon-position(557px, 65px);
    }
    
    &.menu-icon-pos2 {
      @include menu-icon-position(622px, 165px);
    }
    
    &.menu-icon-pos3 {
      @include menu-icon-position(646px, 293px);
    }
    
    &.menu-icon-pos4 {
      @include menu-icon-position(622px, 417px);
    }
    
    &.menu-icon-pos5 {
      @include menu-icon-position(556px, 517px);
    }
    
    &.menu-icon-pos6 {
      @include menu-icon-position(467px, 592px);
    }
    
    &.menu-icon-pos7 {
      @include menu-icon-position(356px, 641px);
    }
    
    &.menu-icon-pos8 {
      @include menu-icon-position(227px, 634px);
    }
    
    &.menu-icon-pos9 {
      @include menu-icon-position(109px, 576px);
    }
  }

  &-img,
  &-img-2 {
    position: absolute;
  }

  &-img-2 {
    text-align: center;
    width: 400px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 60px;
    display: flex;
    font-size: 23px;
    color: $white;
    gap: 20px;
    opacity: 0;
    top: -20%;
    left: -20%;
    align-items: center;
    transition: opacity 0.5s ease-in-out;

    & > p {
      width: 190px;
      text-transform: uppercase;
      font-weight: bold;
      text-shadow: 4px 4px 13px #00000040;
    }
  }
}

.hidden {
  opacity: 1 !important;
}

.hiddenSlide {
  opacity: 1 !important;
}

.container-slider {
  width: 1240px;
  overflow: hidden;
  display: flex;
}

.window-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

// Стили для слайда 2
.slider-2 {
  @include flex-center;

  .badge {
    display: flex;
    position: absolute;
    background: url(img/slide_2/bg.png);
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    z-index: 2;

    &-text {
      font-size: 22px;
      color: $white;
      letter-spacing: 1px;
      font-weight: bold;
      transform: rotate(-11deg);
    }

    &.badge-top-left {
      @include badge-position(50px, auto, auto, 50px);
    }
  }

  &-content {
    display: flex;
    align-items: center;
    gap: 50px;
    z-index: 1;
  }

  &-image {
    img {
      width: 600px;
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  &-title {
    @include slider-text(60px, $white, center);
    text-transform: uppercase;
  }

  &-description {
    font-size: 15px;
    color: $white;
    line-height: 167%;
    text-align: center;
  }
}

// Стили для слайда 3
.slider-3 {
  &-content {
    display: flex;
    align-items: center;
    gap: 50px;
    z-index: 1;
  }

  &-image {
    img {
      position: relative;
      right: 100px;
      top: -30px;
      width: 600px;
      transform: scaleX(-1);
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  &-title {
    @include slider-text(60px, $white, center);
    text-transform: uppercase;
  }

  &-description {
    font-size: 15px;
    color: $white;
    line-height: 167%;
    text-align: center;
  }

  &-small-image {
    img {
      width: 310px;
      height: 310px;
      border-radius: 30px;
    }
  }
}

// Стили для слайда 4

.slider-4 {
  background: url(img/slide_4/bg.png);

  .badge {
    display: flex;
    position: absolute;
    background: url(img/slide_2/bg.png);
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transform: rotate(0);

    &-text {
      font-size: 22px;
      color: $white;
      letter-spacing: 1px;
      font-weight: bold;
      transform: rotate(-11deg);
    }

    &.badge-bottom-right {
      @include badge-position(auto, 55px, 55px, auto);
    }
  }
  &-text {
    gap: 10px;
    position: absolute;
    display: flex;
    text-align: right;
    flex-direction: column;
    @include badge-position(55px, 65px, auto, auto);
    color: $text-color;
  }

  &-title {
    text-transform: uppercase;
  }

  &-subtitle {
    font-size: 25px;
    color: $accent-3;
    font-weight: bold;
  }
}

// Стили для слайда 5
.slider-5 {
  background: url(img/slide_5/bg.png);
}

.badge {
  &-plus,
  &-minus {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-plus {
    background: url(img/slide_5/bg2.png);
    width: 235px;
    height: 235px;
    @include badge-position(140px, 180px, auto, auto);
    z-index: 1;
  }

  &-minus {
    background: url(img/slide_5/bg3.png);
    width: 235px;
    height: 235px;
    @include badge-position(255px, 25px, auto, auto);
    z-index: 0;
  }
}

.plus-icon,
.minus-icon {
  position: absolute;
  top: 35px;
  left: 65px;

  &.small {
    top: 65px;
    right: 65px;
    left: auto;
    width: 30px;
  }
}

.badge {
  &-plus-text,
  &-minus-text {
    text-align: center;
    color: $white;
    letter-spacing: 1px;
    font-weight: bold;
    position: relative;
    top: 25px;
  }

  &-plus-subtext,
  &-minus-subtext {
    text-align: center;
    color: $white;
    letter-spacing: 1px;
    position: relative;
    top: 30px;
  }
}